{% extends "vertical.html" %}
{% load erp_forms %}
{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}
<div class="container-fluid py-3">
  <h4 class="mb-3">{{ page_title }}</h4>
  <form method="post" class="erp-form">{% csrf_token %}
    <div class="card mb-3"><div class="card-body">{% erp_form_fields form %}</div></div>
    <div class="card mb-3"><div class="card-header">Faixas</div><div class="card-body">
      {{ formset.management_form }}
      {% for f in formset %}<div class="border rounded p-2 mb-2">{% erp_form_fields f %}</div>{% endfor %}
    </div></div>
    <button class="btn btn-primary" type="submit">Salvar</button>
  </form>
</div>
{% endblock %}
