DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

DATABASE_URL=postgresql://granimarmores:senha@127.0.0.1:5432/granimarmores_pitondo
DATABASE_CONN_MAX_AGE=0

LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=INFO
PROJECT_LOG_LEVEL=INFO

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=contato@granimarmorespitondo.com.br
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_TIMEOUT=10
DEFAULT_FROM_EMAIL=Granimármores Pitondo <contato@granimarmorespitondo.com.br>
CONTACT_EMAIL_TO=contato@granimarmorespitondo.com.br
CONTACT_EMAIL_CC=granimarmorespitondo@gmail.com
CONTACT_RECIPIENT_EMAIL=contato@granimarmorespitondo.com.br
SERVER_EMAIL=sistema@granimarmorespitondo.com.br
