DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

DATABASE_URL=postgresql://granimarmores:senha@127.0.0.1:5432/granimarmores_pitondo
DATABASE_CONN_MAX_AGE=0

LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=INFO
PROJECT_LOG_LEVEL=INFO

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=Granimármores Pitondo <contato@granimarmorespitondo.com.br>
SERVER_EMAIL=sistema@granimarmorespitondo.com.br
