{% extends "institutional/base.html" %}
{% load static %}

{% block title %}Sobre a Granimármores Pitondo | Granimármores Pitondo{% endblock %}

{% block content %}
<main>
    <section class="section-dark text-light">
        <div class="container">
            <div class="row align-items-center min-vh-75">
                <div class="col-lg-8">
                    <div class="subtitle">Granimármores Pitondo</div>
                    <h1>Sobre a Granimármores Pitondo</h1>
                    <p class="lead">Conheça nossa história, estrutura e compromisso com projetos sob medida.</p>

                    <a
                        href="{% url 'institutional:quotation' %}"
                        class="btn-main fx-slide"
                    >
                        <span>Solicite um orçamento</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
