{% extends "vertical.html" %}
{% load erp_forms %}
{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}
<div class="container-fluid py-3">
  <h4 class="mb-3">{{ page_title }}</h4>
  <div class="card"><div class="card-body">
    <form method="post" class="erp-form" novalidate>
      {% csrf_token %}
      {% erp_form_fields form %}
      <div class="erp-form-actions mt-4 d-flex flex-wrap gap-2">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <a class="btn btn-light" href="javascript:history.back()">Voltar</a>
      </div>
    </form>
  </div></div>
</div>
{% endblock %}
