{% extends "vertical.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}
<div class="container-fluid">
  <h4 class="fs-18 fw-semibold py-3">{{ page_title }}</h4>
  {% if messages %}{% for m in messages %}<div class="alert alert-{{ m.tags|default:'info' }}">{{ m }}</div>{% endfor %}{% endif %}
  <div class="card"><div class="card-body">
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Salvar</button>
      <a class="btn btn-light" href="javascript:history.back()">Voltar</a>
    </form>
  </div></div>
</div>
{% endblock %}
