{% extends "base.html" %}

{% load static i18n %}

{% block html_class %}{% endblock html_class %}

{% block title %}{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block body_class %}{% endblock body_class %}

{% block content %}

<div id="app-layout">

    {% include 'partials/menu.html' %}

    <div class="content-page">

        <div class="content">

            {% block page_content %}{% endblock page_content %}

        </div>

        {% include 'partials/footer.html' %}
    </div>
</div>

{% block modal %}{% endblock modal %}

{% endblock content %}

{% block extra_javascript %}{% endblock extra_javascript %}