{% extends "backoffice/base.html" %}

{% block title %}Meu Perfil{% endblock %}
{% block page_content %}
<h1 class="h3 mb-4">Meu Perfil</h1>
<div class="card">
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-md-3">Nome</dt><dd class="col-md-9">{{ request.user.get_full_name|default:request.user.get_username }}</dd>
            <dt class="col-md-3">Usuário</dt><dd class="col-md-9">{{ request.user.get_username }}</dd>
            <dt class="col-md-3">E-mail</dt><dd class="col-md-9">{{ request.user.email|default:"-" }}</dd>
            <dt class="col-md-3">Perfil</dt><dd class="col-md-9">{{ role_label }}</dd>
            <dt class="col-md-3">Status</dt><dd class="col-md-9">{{ request.user.is_active|yesno:"Ativo,Inativo" }}</dd>
        </dl>
    </div>
</div>
{% endblock %}
