{% load static %}
<!-- header begin -->
<header class="header-light transparent logo-center">
    <div class="container-fluid px-lg-5 px-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="de-flex">
                    <div class="col-start">
                        <ul id="mainmenu">
                            <li><a class="menu-item" href="{% url 'institutional:home' %}">Início</a></li>
                            <li><a class="menu-item" href="{% url 'institutional:sobre' %}">Sobre</a></li>
                            <li>
                                <a class="menu-item" href="{% url 'institutional:services' %}">Soluções</a>
                                <ul>
                                    <li><a href="{% url 'institutional:cozinhas' %}">Cozinhas</a></li>
                                    <li><a href="{% url 'institutional:escadas' %}">Escadas</a></li>
                                    <li><a href="{% url 'institutional:areas_gourmet' %}">Áreas Gourmet</a></li>
                                    <li><a href="{% url 'institutional:banheiros' %}">Banheiros</a></li>
                                    <li><a href="{% url 'institutional:projetos_comerciais' %}">Projetos Comerciais</a></li>
                                </ul>
                            </li>
                            {% comment %} <li><a class="menu-item" href="{% url 'institutional:projects' %}">Projetos</a></li> {% endcomment %}
                            {% comment %} <li><a class="menu-item" href="{% url 'institutional:materials' %}">Materiais</a></li> {% endcomment %}
                            <li><a class="menu-item" href="{% url 'institutional:blog' %}">Blog</a></li>
                            <li><a class="menu-item" href="{% url 'institutional:contato' %}">Contato</a></li>
                        </ul>
                    </div>
                    <div class="col-center">
                        <a href="{% url 'institutional:home' %}">
                            <img src="{% static 'institutional/images/logo.webp' %}" alt="Granimármores Pitondo">
                        </a>
                    </div>
                    <div class="col-end">
                        <div class="menu_side_area">
                            <a href="{% url 'institutional:contato' %}" class="btn-main fx-slide"><span>Solicite um orçamento</span></a>
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header close -->
