{% load static %}
<!-- header begin -->
        <header class="{% if request.resolver_match.url_name == "escadas" %}header-light {% endif %}transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="{% url 'institutional:home' %}">
                                        <img class="logo-main" src="{% if request.resolver_match.url_name == "escadas" %}{% static 'institutional/images/logo-gp.webp' %}{% else %}{% static 'institutional/images/logo-gp.webp' %}{% endif %}" alt="Granimármores Pitondo" >
                                        <img class="logo-scroll" src="{% if request.resolver_match.url_name == "escadas" %}{% static 'institutional/images/logo-gp.webp' %}{% else %}{% static 'institutional/images/logo-gp.webp' %}{% endif %}" alt="Granimármores Pitondo" >
                                        <img class="logo-mobile" src="{% if request.resolver_match.url_name == "escadas" %}{% static 'institutional/images/logo-gp.webp' %}{% else %}{% static 'institutional/images/logo-gp.webp' %}{% endif %}" alt="Granimármores Pitondo" >
                                    </a>
                                </div>
                                <!-- logo end -->
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainemenu begin -->
                                <ul id="mainmenu">
                                    <li class="mobile-restricted-area"><a href="{% url 'account_login' %}" class="btn-main fx-slide"><span>ÁREA RESTRITA</span></a></li>
                                    <li><a class="menu-item" href="{% url 'institutional:home' %}">Início</a></li>
                                    <li><a class="menu-item" href="{% url 'institutional:sobre' %}">Sobre</a></li>
                                    <li>
                                        <a class="menu-item" href="{% url 'institutional:services' %}">Soluções</a>
                                        <ul>
                                            <li><a href="{% url 'institutional:cozinhas' %}">Cozinhas</a></li>
                                            <li><a href="{% url 'institutional:escadas' %}">Escadas</a></li>
                                            <li><a href="{% url 'institutional:areas_gourmet' %}">Áreas Gourmet</a></li>
                                            <li><a href="{% url 'institutional:banheiros' %}">Banheiros</a></li>
                                            <li><a href="{% url 'institutional:projetos_comerciais' %}">Projetos Comerciais</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu-item" href="{% url 'institutional:blog' %}">Blog</a></li>
                                    <li><a class="menu-item" href="{% url 'institutional:contato' %}">Contato</a></li>
                                </ul>
                                <!-- mainmenu end -->
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <a href="{% url 'account_login' %}" class="btn-main fx-slide"><span>ÁREA RESTRITA</span></a>
                                    <span id="menu-btn"></span>
                                </div>
                                <div id="btn-extra"><span></span><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
